<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Table</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div>
    <table>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Authorities</th>
        </tr>
        <th:block>
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getUsername()}"></td>
            <td th:text="${user.getEmail()}"></td>
            <td th:text="${user.getAuthoritiesText()}"></td>

            <td>
                <form th:method="get" th:action="@{/changePassword}" th:object="${user}">
                    <a hidden="hidden" id="IdPass" th:href="'/admin/changePassword?id='+${user.id}"></a>
                    <script>
                        const PassAnchor = document.getElementById("IdPass");
                    </script>
                    <input type="button" value="Change password" onClick="window.location.href = PassAnchor"/>
                </form>
            </td>

            <td>
                <form th:method="get" th:action="@{/delete}" th:object="${user}">
                    <a hidden="hidden" id="IdDelete" th:href="'/admin/delete?id='+${user.id}"></a>
                    <script>
                        const DeleteAnchor = document.getElementById("IdDelete");
                    </script>
                    <input type="button" value="Delete" onClick="window.location.href = DeleteAnchor"/>
                </form>
            </td>
        </th:block>
    </table>
</div>
<br>

<fieldset>
    <legend><b>Update user</b></legend>
    <form th:method="post" th:action="@{/admin/applyapdate}" th:object="${user}">
        <label>ID
            <input readonly type="text" th:field="*{id}">
        </label>
        <br>
        <label>Username
            <input type="text" required placeholder="Имя" th:field="*{username}">
        </label>
        <br>
        <label>Email
            <input type="text" required placeholder="Email" th:field="*{email}">
        </label>
        <br>
        <label>
            <input type="checkbox" name="roles" value="ADMIN">
            ADMIN
        </label>
        <br>
        <label>
            <input type="checkbox" checked required name="roles" value="USER">
            USER
        </label>
        <br>
        <input type="submit" value="Update User">
        <input type="reset" value="Reset">
    </form>
</fieldset>

<br>
<fieldset>
    <form th:method="get" th:action="@{/admin/users}">
        <a th:href="'/admin/users'">All users</a>
    </form>
    <br>
    <form th:method="get" th:action="@{/logout}">
        <a th:href="'/logout'">Logout</a>
    </form>
</fieldset>
</body>
</html>